<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Milestones</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link rel="shortcut icon" type="image/png" href="favicons/favicon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">

  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>

<body>
  <header>
    <h1>Milestones</h1>
    <h6>A GitHub Api backed Milestone thingy.</h6>
  </header>


  <div class="content milestones">

    <div class="chart"></div>

    <table class="table table-condensed">
      <thead>
        <tr>
          <th class="milestone">Milestone</th>
          <th class="task">
            <span class="pull-right">Effort &amp; Status</span>
            Task
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan="99">loading...</th>
        </tr>
      </tbody>
    </table>
  </div>

  <p class="info">
    Made by the <a href="http://hood.ie">Hoodie Community</a>.
  </p>

<script id="row-template" type="text/template">
  <tr class="<%= isNewMilestone ? "newMilestone" : "" %>">
      <% if (isNewMilestone) { %>
      <th class="milestone" rowspan="<%= numMilestoneIssues %>">
          <% if (milestoneAssignee) { %>
          <div class="pull-right">
            <a href="<%= milestoneAssignee.html_url %>">
                <img src="<%= milestoneAssignee.avatar_url %>&s=24" alt="<%= milestoneAssignee.login %>">
            </a>
          </div>
          <% } %>
          <strong><%= milestoneTitle %></strong>
          <small><%= markdownToHTML(milestoneDescription) %></small>
      </th>
      <% } %>
      <td class="task" data-nr="<%= number %>">
          <div class="pull-right">
            <% if (assignee && state === "active") { %>
            <a href="<%= assignee.html_url %>">
                <img src="<%= assignee.avatar_url %>&s=24" alt="<%= assignee.login %>">
            </a>
            <% } %>
            <% if (effort === undefined) { %>
            <span class="label label-danger">unrated</span>
            <% } else {%>
            <div title="effort: <%= effort %>" class="progress" style="width: <%= effort * 2 %>0px">
              <% if (state !== "open") { %>
              <div class="progress-bar <%= state === "active" ? "progress-bar-striped active" : "" %>"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
              <% } %>
            </div>
            <% } %>
          </div>
          <strong>
              <%= title %>
              <% if (subtasks) { %>
              (<%= subtasks.closed %>/<%= subtasks.open + subtasks.closed %>)
              <% } %>
              <a href="<%= html_url %>">
                #<%= number %>
              </a>
          </strong>
          <small>
            <%= markdownToHTML(body) %>
            <a class="btn btn-default btn-xs" href="<%= html_url %>">
              open on GitHub
            </a>
          </small>
      </td>
  </tr>
</script>

<script id="progress-bar" type="text/template">
<div title="<%= total %>" class="progress-group <% if (preceding > 50) { %>over50percent<% } %>" style="width: <%= total %>%;">
  <div class="progress-bar" style="width: <%= closedPercent %>%"></div>
  <div class="progress-bar progress-bar-striped active" style="width: <%= activePercent %>%"></div>
  <div class="progress-bar progress-bar-danger" style="width: <%= unratedPercent %>%"></div>
  <div class="progress-bar invisible" style="width: <%= openPercent %>%;"></div>
  <div class="progress-group-label"><%= title %></div>
</div>
</script>

  <script src="vendor/jquery/dist/jquery.js"></script>
  <script src="vendor/underscore/underscore.js"></script>
  <script src="vendor/initials/initials.js"></script>
  <script src="vendor/markdown/lib/markdown.js"></script>
  <script src="vendor/angular/angular.js"></script>
  <script src="js/github.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
